* {
    padding: 0;
    margin: 0;
}
body {
    color: black;
    background: #F0F0F6;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, serif;
    font-size: 11pt;
}

.tenpixpadder {
    padding: 10px;
}

#header {
    padding: 5px;
    width: 80%;
    margin: auto;
}

#container {
    width: 100%;
    margin: auto;
}

#container #leftcolumn {
    width: 18%;
    float: left;
}

#container #middlecolumn {
    width: 64%;
    float: left;
}

#container #rightcolumn {
    width: 18%;
    float: left;
}

.menu {
    background-color: #5555B0;
    text-align: right;
    padding: 20px 10px;
    margin: 5px;
}

.menu ul {
    list-style-type: none;
}

.menu a:link,.menu a:visited {
    color: #E58022;
    text-decoration: none;
    font-size: 14pt;
}

.menu a:hover {
	color: #CCCCCC;
	text-decoration: none;
}

.cassette {
    margin: 5px;
}

.cassette .title {
    padding: 0;
    border-top: solid 2px #F0F0F6;
    border-bottom: solid 2px #F0F0F6;
    background-color: #609C60;
    color: white;
    text-align: center;
}

.cassette .text {
    background-color: #5555B0;
    color: #E58022;
    text-align: center;
    padding: 10px;
}

.cassette .text p {
    padding: 10px 10px;
}

.text-right {text-align: right;}
.text-center {text-align: center;}
.center {text-align: center;}
.info {color: #609C60; font-style: italic; font-size:1.3em;}
.errorlist{color: red; background-color: pink; list-style-type: none;}
.form-title {font-size:130%; font-weight: bold; color: navy; padding: 35px 0px 5px 0px; }
/*.form-table>tbody>tr>td, .note {font-size:80%; color: gray;}
.form-table td input {width: 100%;}

.ctrlHolder>label{position:relative;}
.ctrlHolder>input{width: 100%;position:relative;}*/
#detail-data {
  border: 1px solid #aaa;
  background-color: #eee;
  margin: 0.5em;
  padding: 1em;
  position: relative;
  float: right;
  width: 45%;
  font-size: 88%;
}
.right {position: relative; float: right;}
#detail-data li {list-style-type:none;}
#hotel-map {margin: 20px 0px 0px 0px;}

.canceled{text-decoration: line-through;}
a.mmod, a.pmod{
    display: none;
    text-decoration:none;
}
a.mmod:hover, a.pmod:hover {
    background: none;
}
#email-response {display: none; color: green;}
.remarks {font-size: 70%;}
.red {color: red;}
.special_rate label {font-size: 90%; font-weight: normal;}
#hotels-table th {
border-top: 1px solid #C3D9FF;
border-right: 1px solid #C3D9FF;
border-left: 1px solid #C3D9FF;
font-size: 80%;
}
#statistics-list {margin-top: 10px;}
#stats-form input {width: 25%;}
#stats-form label {width: 25%;}
#stats-form .ctrlholder {padding: 0px;}
