body  {
#  background:none repeat scroll 0 0 #FFFFFF;
#  background:none repeat scroll 0 0 #FFFFFF;
  color:#222222;
  font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
}
.text-right {text-align: right;}
.text-center {text-align: center;}
.center {text-align: center;}
.errorlist{color: red; background-color: pink; list-style-type: none;}
.form-title {font-size:130%; font-weight: bold; color: navy; padding: 35px 0px 5px 0px; }
/*.form-table>tbody>tr>td, .note {font-size:80%; color: gray;}
.form-table td input {width: 100%;}

.ctrlHolder>label{position:relative;}
.ctrlHolder>input{width: 100%;position:relative;}*/
#detail-data {
  border: 1px solid #aaa;
  background-color: #eee;
  margin: 0.5em;
  padding: 1em;
  position: relative;
  float: right;
  width: 45%;
  font-size: 88%;
}
.right {position: relative; float: right;}
#detail-data li {list-style-type:none;}
#hotel-map {margin: 20px 0px 0px 0px;}

.canceled{text-decoration: line-through;}
a.mmod, a.pmod{
    display: none;
    text-decoration:none;
}
a.mmod:hover, a.pmod:hover {
    background: none;
}
td, th {
    border-bottom:1px solid #EEEEEE;
/*     font-family:"Lucida Grande",Verdana,Arial,sans-serif;
     font-size:11px;
    line-height:13px;
    padding:5px;*/
    vertical-align:top;
}
tr#total-row {rborder-top:5px solid red; font-size: 120%; font-weight: bold;}
#email-response {display: none; color: green;}
.remarks {font-size: 70%;}
.red {color: red;}
.special_rate label {font-size: 90%; font-weight: normal;}
#hotels-table th {
border-top: 1px solid #C3D9FF;
border-right: 1px solid #C3D9FF;
border-left: 1px solid #C3D9FF;
font-size: 80%;
}
#statistics-list {margin-top: 10px;}
#stats-form input {width: 25%;}
#stats-form label {width: 25%;}
#stats-form .ctrlholder {padding: 0px;}
