{% extends "base.html" %}
{% load uni_form_tags %}
{% block title %}ICSM 2010 Statistics{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/default.uni-form.css" type="text/css" />
{% endblock %}

{% block content %}

<form id="stats-form" class="uniForm" action="." method="POST">{% csrf_token %}
{{ form|as_uni_form }}
<input type="submit" value="Filter" /><br/>
</form>
<ol>
<div id="statistics-list">
User count: {{shoppingcarts.count}}.
{% for sc in shoppingcarts %}
    <li><a href="{% url userprofile:detail sc.user.id %}">{{sc.user.get_full_name}}</a> {{sc.user.about.email}}, {{sc.user.about.get_country_display}}, ({{sc.user.status.get_payment_cathegory}}{% if sc.icsm_have_paper %}, ICSM paper{% endif %})
    <span class="errorlist">{% if sc.is_empty %} Empty shoppingcart: {{ sc.user.about.email }} {% endif %}</span>
    </li>
{% endfor %}
</div>
</ol>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}uni_form/uni-form.jquery.js"></script>
{% endblock %}
