{% extends "base.html" %}
{% load uni_form_tags %}
{% block title %}ICSM 2010 Cumulus App{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/default.uni-form.css" type="text/css" />
{% endblock %}

{% block content %}

<form id="stats-form" class="uniForm" action="." method="POST">{% csrf_token %}
{{ form|as_uni_form }}
<input type="submit" value="Add/modify device id" /><br>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}uni_form/uni-form.jquery.js"></script>
{% endblock %}