<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="International Conference on Risks and
				      Security of Internet and Systems. The topics addressed by CRiSIS range
				      from the analysis of risks, attacks and vulnerabilities to system
				      survivability, security policies and models, security mechanisms and
				      privacy"/>
    <meta name="keywords" content="crisis 2011, CRiSIS 2011, CRiSIS'11, crisis,
				   conference security, conference crisis, conference crisis 2011, conference CRiSIS, conference CRiSIS 2011,
				   dependability, security, privacy, vulnerabilities, system survivability, security policy, security policies, security model, security models, attack, attaks, risk, risks"/>
    <meta name="revisit-after" content="15 days"/>
    <meta name="distribution" content="global"/>
    <meta name="robots" content="ALL"/>
    <meta name="Identifier-URL" content="http://crisis2011.cs.upt.ro"/>

    <title>6th International Conference on Risks and Security of Internet and Systems (CRiSIS 2011)</title>
     <link href="{{ STATIC_URL }}css/css3buttons.css" rel="stylesheet" type="text/css"/>
    <link href="http://crisis2011.cs.upt.ro/main.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.14.custom.css" type="text/css"/>
    {% block header %}{% endblock %}
  </head>
  <body>
    <div id="header">
      <img src="{{ STATIC_URL }}images/front.jpg" alt="header" />
    </div>
    <div id="container">
      <div id="leftcolumn">
	<div class="menu">
	  <ul>
	    <li><a href="http://crisis2011.cs.upt.ro/index.html">Home</a></li>
	    <li><a href="http://crisis2011.cs.upt.ro/committees.html">Committees</a></li>
	    <li><a href="http://crisis2011.cs.upt.ro/call.html">Call for papers</a></li>
	    <li><a href="http://crisis2011.cs.upt.ro/tutorial.html">Tutorial</a></li>
	    <li><a href="http://crisis2011.cs.upt.ro/submission.html">Submission</a></li>
	    <li><a href="http://crisis2011.cs.upt.ro/program.html">Program</a></li>
	    <li><a href="http://registration-crisis2011.cs.upt.ro">Registration</a></li>
	    <li><a href="http://crisis2011.cs.upt.ro/keynote.html">Keynote speaker</a></li>
	    <li><a href="http://crisis2011.cs.upt.ro/venue.html">Venue</a></li>
	    <li><a href="http://crisis2011.cs.upt.ro/hotel.html">Hotels</a></li>
	    <li><a href="http://crisis2011.cs.upt.ro/sponsors.html">Sponsors</a></li>
	    <li><a href="http://crisis2011.cs.upt.ro/contacts.html">Contacts</a></li>
	  </ul>
	</div>
      </div>
      <div id="middlecolumn">
	<div class="tenpixpadder">
	    	{% if user.is_authenticated %}
                <div class="text-right">
                {% if user.get_full_name%}<a class="button" href="{% url userprofile:home %}"><span class="user icon"></span>{{user.get_full_name}}</a>{% else %}{{user.username}}{% endif %} <a class="right button" href="{% url userprofile:logout %}">Log out</a>
                </div>
            {% endif %}
            {% block content %}{% endblock %}
	</div>
      </div>
      <div id="rightcolumn">
	<div class="cassette">
	  <div class="title">
	    <b>Important Dates</b>
	  </div>
	  <div class="text">
	    <p>
	      Submission deadline:<br />
	      <b>6 June 2011</b>
	    </p>
	    <p>
	      Notification to Authors:<br />
	      <b>20 July 2011</b>
	    </p>
	    <p>
	      Camera Ready Due:<br />
	      <b>12 August 2011</b>
	    </p>
	  </div>
	  <div class="title">
	    <b>Publications</b>
	  </div>
	  <div class="text">
	    <p>IEEE Xplore</p>
	  </div>
	  <div class="title">
	    <b>Technical Co-Sponsorship</b>
	  </div>
	  <div class="text">
	    <img src="{{ STATIC_URL }}images/TCS_IEEECS.jpg" alt="tcs ieeecs" />
	  </div>
	</div>
      </div>
  </body>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.14.custom.min.js"></script>
  {% block scripts %}{% endblock %}

</html>	



    
