{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
{% if user.is_staff %}
    <ul id="admin_panel">
    <li><a class="button" href="{% url userprofile:list %}"><span class="user icon"></span>List users</a></li>
    <li><a class="primary button" href="{% url admin:index %}"><span class="key icon"></span>Administration</a></li>
    <li><a class="button" href="{% url userprofile:names %}"><span class="mail icon"></span>Names to emails</a></li>
    </ul>
{% else %}
    {% if not user.is_authenticated %}
    <div id="detail-data">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <p>Login to edit your registration details</p>
        <form method="post" action="{% url userprofile:login %}">{% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{% url userprofile:home %}" />
        </form>
        <span class="note">If you already initiated your registration process, you can now check or modify your registration by logging in to the conference account that was created for you when you initially registered.</span>
    </div>
	<div>&nbsp;</div>
    <h1><a class="primary button" href="{% url userprofile:register %}"><span class="user icon"></span>Start Your Registration!</a></h1>
    <p class="note">If you want to register for CRiSIS please follow the link above to initiate your registration process.</p>
<br/>
<p>Registration covers full access to the conference presentations,
including tutorials, participant kit, lunch and coffee breaks during
the three conference breaks, and social events (including banquet).</p>

<p align="center"><b>Early Registration Fees</b>
  <br>(deadline: 17 August 2011)
</p>
<table align="center" cellspacing="20">
  <tbody><tr align="center">
      <th>Regular</th>
      <th>IEEE Member</th>
      <th>Full-time Student</th>
      <th>IEEE Student Member</th>
    </tr>
    <tr align="center">
      <td>350 EUR</td>
      <td>300 EUR</td>
      <td>120 EUR</td>
      <td>110 EUR</td>
    </tr>
  </tbody>
</table>

</span>
    {% else %}
        <a class="button" href="{% url userprofile:home %}"><span class="user icon"></span>Edit your registration details</a>
    {% endif %}
{% endif %}
{% endblock %}

