<ul>
{% for sc in shoppingcarts %}
{% if not sc.is_empty %}
<li>
<a href="{% url userprofile:detail sc.user.id %}">{{sc.user.get_full_name}}</a>|
{{sc.user.about.organisation}}|
{{sc.user.about.address}}|
{{sc.user.about.email}}|
{{sc.user.status.get_payment_cathegory}}|
{{sc.icsm_have_paper }}|
{% if sc.ICSM %}ICSM: {{sc.ICSM}}|{% endif %}
{% if sc.PROMISE %}PROMISE: {{sc.PROMISE}}|{% endif %}
{% if sc.SCAM %}SCAM: {{sc.SCAM}}|{% endif %}
{% if sc.WSE %}WSE: {{sc.WSE}}|{% endif %}
{% if sc.tutorial_refactoring_for_parallelism %}tutorial refactoring for parallelism: {{sc.tutorial_refactoring_for_parallelism}} {{sc.get_item_price.sc01}}|{% endif %}
{% if sc.tutorial_migrating_software_testing_to_the_cloud %}tutorial migrating software testing to the cloud: {{sc.tutorial_migrating_software_testing_to_the_cloud}}|{% endif %}
{% if sc.tutorial_teaching_undergraduate_software_engineering %}tutorial teaching undergraduate software engineering: {{sc.tutorial_teaching_undergraduate_software_engineering}}|{% endif %}
{% if sc.tutorial_the_licensing_challenge %}tutorial the licensing challenge: {{sc.tutorial_the_licensing_challenge}}|{% endif %}
{% if sc.extra_ICSM_banquet %}ICSM banquet: {{sc.extra_ICSM_banquet}}|{% endif %}
{% if sc.extra_ICSM_reception %}ICSM reception: {{sc.extra_ICSM_reception}}|{% endif %}
{% if sc.extra_ICSM_winetasting %}ICSM winetasting: {{sc.extra_ICSM_winetasting}}|{% endif %}
{% if sc.extra_ICSM_proceedings %}ICSM proceedings: {{sc.extra_ICSM_proceedings}}|{% endif %}
{% if sc.extra_PROMISE_SCAM_dinner %}PROMISE SCAM dinner: {{sc.extra_PROMISE_SCAM_dinner}}|{% endif %}
{% if sc.extra_PROMISE_proceedings %}PROMISE proceedings: {{sc.extra_PROMISE_proceedings}}|{% endif %}
{% if sc.extra_SCAM_proceedings %}SCAM proceedings: {{sc.extra_SCAM_proceedings}}|{% endif %}
{% if sc.extra_WSE_dinner_price %}WSE dinner price: {{sc.extra_WSE_dinner_price}}|{% endif %}
{% if sc.extra_WSE_proceedings %}WSE proceedings: {{sc.extra_WSE_proceedings}}|{% endif %}
{% if sc.FAMOOSR %}FAMOOSR: {{sc.FAMOOSR}}|{% endif %}
{% if sc.MESOA %}MESOA: {{sc.MESOA}}|{% endif %}
</li>
{% endif %}
{% endfor %}
</ul>
