{% extends "base.html" %}
{% block title %}Shop{% endblock %}

{% block content %}
<h1>Payment</h1>
{% if is_early %}
<p class="info">Congratulation: you can still benefit by paying early!</p>
{% endif %}
<p>You registered as a {{ pacakge.get_code_display }} participant. Here is the price for this package:</p>

<div id="total-sum">{{ pacakge.conference_price }}EUR</div>

<div id="paypal-div">
    Credit card (through PayPal) {% include "payment/paypal.html" %}
</div>
<div>
    <a id="email" href="{% url payment:email %}"><img height="60px" src="{{ STATIC_URL }}images/pay_by_email.png" alt="Send payment details by email"/></a>
    <div class="info" id="email-response">
      <img  src="{{ STATIC_URL }}images/ajax-loader.gif" alt="processing..."/>
    </div>
</div>

<p class="note">Note: The only way in which we can receive credit card payments is through
PayPal. Even if you don't have a PayPal account, the overhead is minimal:
in addition to the information which is required for the payment itself,
you only need to provide a password and push the "Agree and Continue"
button. After that, you can immediately proceed with the payment;
no other extra effort is involved.
</p>

<p><a href="{% url userprofile:home %}">Home</a></p>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/shop.js"></script>
{% endblock %}
