{% extends "base.html" %}
{% block title %}Reservation list{% endblock %}

{% block content %}
{%for hot in object_list %}
{% if hot.has_pending_reservations or hot.has_pending_cancellations %}
<h1 class="form-title">{{hot.name}}</h1>
{% if hot.has_pending_reservations %}
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Room kind</th>
    <th>Rooms nb.</th>
    <th>Arrival</th>
    <th>Departure</th>
    <th>Additional Remarks</th>
  </tr>
  </thead>
  <tbody>
    {%for res in hot.reservation_set.iterator %}
    {% if not res.processed %}
    <tr>
        <td>{{res.user.get_full_name}}</td>
        <td>{{res.get_room_kind_display}}</td>
        {% if res.number_of_rooms != 1 %}<td class="red">{% else %}<td>{% endif %}{{res.number_of_rooms}}</td>
        <td>{{res.arrival_date}}</td>
        <td>{{res.departure_date}}</td>
        <td class="note">{{res.additional_remarks}}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
<br>
{% if hot.has_pending_cancellations %}
<table>
  <thead>
  <tr>
    <th>Cancel</th>
    <th>Cancellation time</th>
  </tr>
  </thead>
  <tbody>
    {%for can in hot.cancellation_set.iterator %}
    {% if not can.processed %}
    <tr>
        <td>{{can.message}}</td>
        <td>{{can.cancellation_date}}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}
