{% extends "base.html" %}
{% load uni_form_tags %}

{% block title %}Hotel reservation{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/default.uni-form.css" type="text/css" />
{% endblock %}
{% block content %}
<div id="reservation">
{% if user.reservation %}
<h2>Your current reservation:</h2>
{% with user.reservation as res %}
    <table>
        <tr><td>Hotel:</td><td> <a href="{{res.hotel.url}}" target="_blank">{{res.hotel}}</a></td></tr>
        <tr><td>Room type:</td><td>{{res.number_of_rooms}} {{res.get_room_kind_display}} {% if res.smoker_room %}smoker{% endif %} room{{ res.number_of_rooms|pluralize }}</td></tr>
        <tr><td>Period:</td><td>{{res.arrival_date}} - {{res.departure_date}} ({{res.get_days}} night{{ res.get_days|pluralize }})</td></tr>
        <tr><td>Price:</td><td>{{res.get_price}}EUR</td>
    </table>
{% endwith %}
    <p><a href="{% url hotels:cancel %}">Cancel reservation</a></p>
    <a id="email" href="{% url hotels:email %}">Send hotel details by email</a> <div id="email-response"></div>
{% else %}
<h3>New reservation:</h3>
<form class="uniForm" action="{% url hotels:reservation %}" method="post">{% csrf_token %}
    {{ form|as_uni_form }}
<input type="submit" value="Submit" />
</form>
{% endif %}
</div>
<span class="note">Notes:</span>
<ul class="note">
<li>How do we use this information? In order to make sure that your reservations are secured, we will update hotels weekly with these reservations, and make sure that at your arrival you have exactly the type of room you reserved.</li>
<li>The reservation does NOT require an advanced payment.</li>
<li>These rates are specially negotiated for ICSM attendees. Thus rooms can be booked at these rates only by using this registration page.</li>
<li>The number of rooms is constantly updated as rooms are booked by ICSM attendants. Therefore, please reserve your as soon as possible.</li>
</ul>

<table id="hotels-table">
<thead>
            <tr>
                <th rowspan="2">Hotel</th>
                <th colspan="2">Single Room</th>
                <th colspan="2">Double Room</th>
                <th rowspan="2">Remarks</th>
            </tr>
            <tr>
                <th>Available</th>
                <th>EUR</th>
                <th>Available</th>
                <th>EUR</th>
            </tr>
        </thead>
        <tbody>
            {% for hotel in hotels %}
            <tr>
                <td>
                   <a href="{{hotel.url}}" target="_blank">{{hotel.name}}</a>
                </td>
                <td>{{hotel.single_rooms}}</td>
                <td>{{hotel.single_price}}</td>
                <td>{{hotel.double_rooms}}</td>
                <td>{{hotel.double_price}}</td>
                <td class="remarks">{{hotel.remarks|safe}}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<iframe id="hotel-map" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=101376998410022000470.00048a560a4daed03b784&amp;ll=45.751073,21.230399&amp;spn=0.023268,0.043216&amp;output=embed" target="_blank"></iframe>
<br />
<small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=101376998410022000470.00048a560a4daed03b784&amp;ll=45.751073,21.230399&amp;spn=0.023268,0.043216&amp;source=embed" style="color:#0000FF;text-align:left">ICSM Hotels</a> in a larger map</small>

<p><a href="{% url userprofile:home %}">Home</a></p>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/dates.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/reservation_dates.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js"></script>
{% endblock %}
